#container {
  position: relative;
}

.nav {
  position: absolute;
  vertical-align: top;
  left: 0px;
  width: 200px;
}

#column {
  vertical-align: top;
  width: 75%;
}

.section {
  vertical-align: top;
  margin-left: 200px;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 70px;
  width: 100%;
}

body {
  margin-bottom: 120px;
}
