body {
  position: relative;
}

#container {
  width: 900px;
}

.nav {
  display: block;
  float: left;
  vertical-align: top;
  width: 25%;
}

#column {
  display: block;
  float: left;
  vertical-align: top;
  width: 75%;
}

.section {
  display: block;
}
